@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    margin: 0px;
    font-family: Roboto, sans-serif;
}

/* Header styling */

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding-top: 30px;
}

.logo-text {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-left: 350px;
}

.links {
    display: flex;
    gap: 16px;
    margin-right: 350px;
}

.link {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}


/* Hero section styling */

.hero-section {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    gap: 48px;
    padding: 120px 0px;
}

.hero-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text,
.hero-button {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-button {
    background-color: #3882f6;
    border: 0px;
    border-radius: 8px;
    width: 110px;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 700;
}

.hero-image {
    width: 700px;
    height: auto;
}

h1,
h2,
h3 {
    margin: 0px;
}

p {
    margin: 0px;
}

/* Info section styling */

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 80px 0px 170px 0px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-container {
    display: flex;
    gap: 48px;
    width: 1100px;
}

.info-placeholder {
    height: 225px;
    width: 225px;
    border: 5px solid #3882f6;
    border-radius: 25px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.text {
    text-align: center;
    font-size: 18px;
}

/* Quote section styling */
.quote-section {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 170px 0px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937
}

.quotee {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

/* Call to action section styling */

.action-section {
    display: flex;
    justify-content: center;
    padding: 150px 0px;
}

.action-container {
    display: flex;
    align-items: center;
    gap: 350px;
    background-color: #3882f6;
    padding: 85px 150px;
    border-radius: 15px;
}

.action-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.action-header,
.action-button {
    color: #f9faf8;
}

.action-header {
    font-size: 24px;
}

.action-prompt {
    color: #e5e7eb;
    font-size: 18px;
}

.action-button {
    border-radius: 8px;
    height: 40px;
    width: 110px;
    font-size: 16px;
    font-weight: 700;
    background-color: #3882f6;
    border: #f9faf8 solid 2px;
}